# Configuración de la Base de Datos PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=fifty_tech_pos
DB_PASSWORD=tu_password_aqui
DB_PORT=5432

# Puerto del servidor
PORT=3000

# Ambiente
NODE_ENV=development
